@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    max-width: 1920px;
}
body{
    background: #FFFEEE;
    font-family: "Outfit", serif;

}



nav{
    width: 100%;
}
nav li a{
    color: #33363d;
    transition: 0.3ms ease-in;
    font-size: 1.2em;
}
header nav li a:hover{
    scale: 2;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
nav li{
    transition: 0.150ms ease;
    padding: 2%;
    font-size: 1.2em;
}
nav li:hover{
    scale: 1.2;
}
.sidebar ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}
.sidebar img{
    width: 30px;
    height: 30px;
}

.reseaux{
    display: flex;
    align-items: baseline;
    justify-content: center;
}
.reseaux img{
    height: 2%;
}
.texte_presentation li{
    color: #33363d;
    text-align: center;
}
.texte_presentation li:nth-child(1){
    margin-top: 5%;
}
.texte_presentation li:nth-child(2){
    margin-top: 8%;
    text-align: center;
    font-size: 7vh;
}

.texte_presentation li:nth-child(3){
    margin-top: 8%;
    font-size: 2vh;
}
.texte_presentation h1{
    font-size: 5.5em;
}

@media screen and (max-width: 440px){
    nav li a{
        font-size: 0.8em;
    }
    .texte_presentation h1{
        font-size: 3em;
    }
    .texte_presentation li:nth-child(2){
        font-size: 2.5em;
    }
    .reseaux img{
        margin-top: 1vh;
        height: 4vh;
    }
}
/** **/

.texte_apropos{
    box-shadow: 0px 10px 25px 4px rgba(97,96,97,0.53);
    padding-top: 40px;
    padding-bottom: 60px;
    margin-top: 155px;
    background-color: #33363d;
    width: 100%;
    height: auto;
    color: #FFFEEE;
}
.texte_apropos img{
    width: 500px;
    height: 500px;
}
.texte_apropos h1{
    text-align: center;
    font-size: 5.5em;
    height: auto;
}

.content_apropos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
}
.content_apropos li:nth-child(1){
    position: relative;
    border-radius: 10px;
    color: #FFFEEE;
    height: auto;
    width: 100%;
    font-size: 2em;
    padding: 2%;
    text-align: center;
    margin-bottom: 30px;
}
.lien{
    border: #FFFEEE 3px solid;
    border-radius: 50px;
    text-align: center;
    margin: auto;
    background-color: #FFFEEE;
    padding: 20px;
    height: 20px;
    width: 200px;
    transition: 150ms ease-in;
}
.lien:hover{
    scale: 1;
    background-color: #33363d;
    border: #FFFEEE 3px solid;
    
}
.lien a{
    border-radius: 50px;
    position: absolute;
    margin-top: -20px;
    margin-left: -20px;
    text-align: center;
    display: block;
    color: #33363d;
    padding: 20px;
    height: 20px;
    width: 200px;
    font-size: 1.2em;
}
.lien a:hover{
    color: #FFFEEE;
}
.lien_download1{
    border: #FFFEEE 3px solid;
    border-radius: 50px;
    text-align: center;
    margin: auto;
    background-color: #FFFEEE;
    padding: 20px;
    height: 20px;
    width: 200px;
    transition: 150ms ease-in;
}
.lien_download2{
    border-radius: 50px;
    position: absolute;
    margin-top: -20px;
    margin-left: -20px;
    text-align: center;
    display: block;
    color: #33363d;
    padding: 20px;
    height: 20px;
    width: 200px;
    font-size: 1.2em;
}
.lien_download2:hover{
    color: #FFFEEE;
}
.lien_download1:hover{
    scale: 1;
    background-color: #33363d;
    border: #FFFEEE 3px solid;
    
}
@media screen and (max-width: 430px){
    .texte_apropos h1{
        font-size: 3em;
    }
    .content_apropos{
        margin: 12%;
    }
    .content_apropos li:nth-child(1){
        font-size: 1.5em;
    }
    .lien{
        border-radius: 50px;
        padding: 5%;
        height: 20px;
        width: auto;
        margin: 5%;
    }
    .lien a{
        border-radius: 50px;
        position: absolute;
        margin-top: -23px;
        margin-left: 3px;
        text-align: center;
        display: block;
        color: #33363d;
        padding: 5%;
        height: 20px;
        width: auto;
        font-size: 1.1em;
    }
    .lien:hover{
    }
}

/** **/

.texte_travaux{
    padding-top: 40px;
    padding-bottom: 60px;
    background-color: #FFFEEE;
    width: 100%;
    height: auto;
    color: #33363d;
}
.texte_travaux h1{
    text-align: center;
    font-size: 5.5em;
    height: auto;
}
.container{
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.item{
    box-shadow: 0px 0px 25px -6px rgba(97,96,97,1);
    display: flex;
    flex-direction: column;
    background-color: #33363d;
    border-radius: 40px;
    height: 45vh;
    width: 17vw;
    transition: 150ms ease;
}
.item:hover{
    scale: 1.1;
}
.item img{
    margin: auto;
    border-radius: 20px;
    height: 200px;
    width: 200px;
}
.item li:nth-child(1){
    padding: 8%;
    margin: auto;
    width: 200px;
    height: 200px;
}
.item li:nth-child(2){
    color: #FFFEEE;
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

@media screen and (max-width: 430px){
    .texte_travaux h1{
        font-size: 3em;
    }
    .container{
        justify-content: center;
        padding: 40px;
        flex-direction: column;
        align-items: center;
    }
    .item{
        margin-top: 40px;
        margin-bottom: 10%;
        display: flex;
        flex-direction: column;
        border-radius: 40px;
        height: auto;
        width: auto;
    }
    .item img{
        height: 84%;
        width: 84%;
    }
    .item li:nth-child(2){
        font-size: 1.6em;
        margin-top: -14%;
        margin-bottom: 20px;
    }
}


.texte_compétences{
    box-shadow: 0px 10px 25px 4px rgba(97,96,97,0.53);
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 150px;
    background-color: #33363d;
    width: 100%;
    height: auto;
}
.texte_compétences h1{
    text-align: center;
    font-size: 5.5em;
    height: auto;
    color: #FFFEEE;
}

.logos{
    flex-wrap: wrap;
    border-radius: 20px;
    padding: 20px;
    background-color: #FFFEEE;
    border: #FFFEEE solid 3px;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 430px){
    .texte_compétences h1{
        font-size: 3em;
    }
    .bash li img{
        margin-left: 50%;
    }
}
.contact{
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #33363d;
        width: 100%;
        height: auto;
}
.contact h1{
    text-align: center;
    font-size: 5.5em;
    height: auto;
    color: #FFFEEE;
}
.contact img {
    width: 150px;
    height: 150px;
}
.container2{
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
@media screen and (max-width: 430px){
    .texte_compétences{
        margin-top: 0;
    }
    .contact{
        box-shadow: none;
        margin-top: 0;
}
    .contact h1{
        font-size: 3em;
        margin-top: -18%;
    }
    .container2{
        background-color: #33363d;
        height:auto;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .mail li{
        margin-left: 50%;
    }
}
@media screen and (max-width: 425px){
    .logos img{
    margin-left: 50%;
    }
    .contact{
        box-shadow: none;
        margin-top: 0;
    }
    .texte_compétences{
        margin-top: 0;
    }
    .mail li{
        margin-left: 0%;
    }
}

@media screen and (max-width: 375px){
    .logos img{
        margin-left: 34%;
    }
    .mail li{
        margin-left: 0%;
    }
    .bash li img{
        margin-left: 33%;
    }
}