@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    max-width: 1920px;
    max-height: 1080px;

}
body{
    background: #FFFEEE;
    font-family: "Outfit", serif;

}

nav{
    padding-bottom: 0.1vh;
}
header nav li a{
    color: #FFFEEE;
    transition: 0.3ms ease-in;
}
header nav li a:hover{
    scale: 2;
}
nav ul{
    background-color: #33363d;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 10vh;
}
nav li{
    transition: 0.150ms ease;
    padding: 2%;
    font-size: 2vh;
}
nav li:hover{
    scale: 1.2;
}
@media screen and (max-width: 440px){
    nav li a{
        font-size: 1em;
    }
    nav ul{
        height: 5vh;
    }
}

.content{
    margin-top: 8vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.content h1{
    color: #33363d;
    text-align: center;
    font-size: 5.5em;
    height: auto;
}
@media screen and (max-width: 440px){
    .content{
        margin-top: 2vh;
    }
    .content h1{
        font-size: 5em;
    }
}
.content img{
    width: 100%;
    height: 100%;
}

.image_gauche{
    display: flex;
    flex-direction: column;
    padding: 2vh;
}
.image_gauche li{
    padding-top: 4vh;
    padding-bottom: 1vh;
}
.lien h5{
    display: block;
    position: absolute;
    font-weight: 400;
    text-align: center;
    font-size: 1.8em;
    color: #33363d;
    width: 24.5vw;
    height: 7vh;
    margin-top: -1.2%;
    margin-left: -3.9%;

}
.lien{
    padding: 4vh;
    border: #33363d 3px solid;
}
@media screen and (max-width: 440px){
    .lien h5{
        font-size: 1.5em;
        width: 91.5vw;
        margin-left: -7.9%;
        margin-top: -8.2%;
        height: 7vh;
        padding-top: 2vh;
    }
}
.lien:hover{
    border: #FFFEEE 3px solid;
    background-color: #33363d;
}
.lien h5:hover{
    color: #FFFEEE;
}

.texte_droite li{
    padding-bottom: 2vh;
}
.texte_droite li:nth-child(2){
    font-size: 1.3em;
    width: 30vw;
    height: auto;
    margin-bottom: 8vh;
}
@media screen and (max-width: 440px){
    .texte_droite li:nth-child(2){
        text-align: center;
        font-size: 1.3em;
        width: 100vw;
        height: auto;
        margin: auto;
        padding-bottom: 4vh;
    }
}

.contact{
    box-shadow: 0px 10px 25px 4px rgba(97,96,97,0.53);
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 150px;
    background-color: #33363d;
    width: 100%;
    height: auto;
}
.contact h1{
text-align: center;
font-size: 5.5em;
height: auto;
color: #FFFEEE;
}
.contact img {
width: 150px;
height: 150px;
}
.container2{
padding: 40px;
display: flex;
flex-direction: row;
justify-content: space-around;
}
.logos{
    flex-wrap: wrap;
    border-radius: 20px;
    padding: 20px;
    background-color: #FFFEEE;
    border: #FFFEEE solid 3px;
    display: flex;
    flex-direction: row;
}
@media screen and (max-width: 430px){
    .contact{
        box-shadow: none;
        margin-top: 56vh;
}
    .contact h1{
        font-size: 3em;
    }
    .container2{
        background-color: #33363d;
        height:auto;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .mail li{
        margin-left: 50%;
    }
    .logos{
        margin: auto;
    }
}
@media screen and (max-width: 425px){
    .logos img{
    margin-left: 50%;
    }
    .content h1{
        font-size: 5em;
    }
    .contact{
        box-shadow: none;
        margin-top: 56vh;
    }
    .texte_compétences{
        margin-top: 0;
    }
    .mail li{
        margin-left: 0%;
    }
}
@media screen and (max-width: 390px){
    .logos img{
        margin-left: 34%;
    }
    .content h1{
        font-size: 4em;
    }
    .contact{
        box-shadow: none;
        margin-top: 57vh;
    }
    .mail li{
        margin-left: 0%;
    }
    .bash li img{
        margin-left: 33%;
    }
}