@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: poppins;
    color: #191919;
    scroll-behavior: smooth;
}

/** Barre de navigation **/

.navbar{
    z-index: 1;
    position: fixed;
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px; /** valeur a changer en media querry min-height : ??; **/
    align-items: center;
    box-shadow: 0px 0px 10px 10px rgba(77, 76, 76, 0.055);
}
.logo{
    padding: 2vw;
    font-size: 3rem;
    font-weight: 600;
    transition: 150ms ease;
}
.logo:hover{
    scale: 1.1;
}
.onglets{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 50vw;  /** valeur a changer en media querry 70vw par exemple **/
    align-items: center;
}
.onglets li{
    font-size: 1.2rem;
    font-weight: 500;
}
.onglets li:nth-child(-n+4):not(:nth-child(5)){
    padding: 2vw;
    transition: 150ms ease;
}
.onglets li:nth-child(-n+4):not(:nth-child(5)):hover{
    scale: 1.1;
}

.connexion a{
    background-color: #3cb16f;
    margin-right: 2vw;
    margin-left: 2vw;
    border-radius: 12px;
    padding: 0.5vw;
    transition: 150ms ease;
}
.connexion a:hover{
    background-color: #2E8B57;
    color: white;
}
.menu_burger{
    display: none;
    position: absolute;
    top: 25px;
    right: 2vw;

}
.onglets_actuel a{
    text-decoration: underline #191919 3px;
}

/** Barre de navigation **/
/** Bouton reset **/

.btn_reset{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
}
.btn_reset img{
    width: 100%;
    height: 100%;
}

/** Bouton reset **/


.contenu3 .texte_droit li:nth-child(2) span{
    font-weight: 600;
}
.contenu3{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 100vh;
}
.texte_droit h2{
    font-size: 1.2em;
    font-weight: 600;
}
.texte_droit h2 span{
    background-color: #3cb16f;
}
.texte_droit h1{
    font-size: 4.2em;
}
.texte_droit li:nth-child(1) span{
    background-color: #3cb16f;
}
.texte_droit li:nth-child(2){
    font-size: 1.2em;
}
.texte_droit{
    gap: 1vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60vw;
    padding: 0vw 5vw 0vw 5vw;
}

.image_gauche img{
    border-radius: 12px;
    margin: 0vw 5vw 0vw 5vw;
    width: 30vw;
    height: auto;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.formulaire{
    background-color: aqua;
    width: 30vw;
    height: 30vw;
}
.texte_droit input{
    margin-right: 2vh;
    text-align: center;
    width: 3vw;
    padding: 2vh;
}
.texte_droit img{
    width: 20%;
    height: 20%;
}
.bas_de_texte{
    display: flex;
    align-items: center;
}
.ajouter{
    background-color: #3cb16f;
    border-radius: 12px;
    padding: 2vh;
    transition: 150ms ease;
}
.ajouter a{
    color: inherit;
    font-size: 1.2em;
}
.ajouter:hover{
    background-color: #2E8B57;
    color: white;
}
/** Pied de page **/

.pied_de_page{
    display: flex;
    flex-direction: row;
    background-color: #191919;
    padding: 5vw 5vw 0vw 5vw;
}
.slogan{
    border-bottom: white 3px solid;
}
.slogan h1{
    font-size: 3em;
    color: white;
}
.slogan span{
    color: #3cb16f;
}
.coordonnées{
    padding: 2vh;
    border-bottom: white 3px solid;
}
.coordonnées h1{
    font-size: 1.9em;
    color: white;   
}
.coordonnées li a{
    font-size: 1.2em;
    color: white;
}
.coordonnées li a:hover{
    text-decoration: underline white;
}
.trouvez_nous{
    display: none;
    background-color: #3cb16f;
    border-radius: 12px;
    padding: 1vw 5vw 1vw 5vw;
    text-align: center;
    width: 40vw;
    font-size: 1em;
    font-weight: 500;
    transition: 150ms ease;
    z-index: 0;
    margin-top: 2vh;
}
.partenaires{
    padding: 2vh;
    border-bottom: white 3px solid;

}
.partenaires h1{
    font-size: 1.9em;
    color: white;   
}
.partenaires li a{
    font-size: 1.2em;
    color: white;
}
.partenaires li a:hover{
    text-decoration: underline white;
}

.credit{
    border-bottom: white 3px solid;
    padding: 2vh;
}
.credit h1{
    font-size: 1.9em;
    color: white;   
}
.credit li a{
    font-size: 1.2em;
    color: white;
}
.credit li a:hover{
    text-decoration: underline white;
}
.reseaux{
    border-bottom: white 3px solid;
    padding: 2vh;
}
.logo_reseaux{
    display: flex;
    flex-direction: row;
}
.reseaux h1{
    font-size: 1.9em;
    color: white;   
}
.reseaux li a{
    font-size: 1.2em;
    color: white;
}
.reseaux li a:hover{
    text-decoration: underline white;
}
.texte_bas{
    display: flex;
    flex-direction: row;
    background-color: #191919;
    padding: 2vw 5vh 2vw 5vw;
}
.texte_bas li{
    padding: 0 2vh 0 0vh;;
    color: white;
}
.texte_bas a{
    padding: 0 2vh 0 0vh;;
    color: white;
}
.texte_bas a:hover{
    text-decoration: underline white;
}

/** Pied de page **/

@media screen and (max-width: 1100px){
    /** Barre de navigation **/
    .onglets{
        top: 0;
        left: 0;
        position: absolute;
        background: rgba(255, 255, 255, 0.76);
        backdrop-filter: blur(5px);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 150ms ease;
        width: 100%;
        height: 100vh;
        margin-left: 200%;
        
    }
    .onglets.fermer_onglets{
        margin-left: 0;
    }
    .menu_burger{
        display: block;

    }
    .connexion a{
        background-color: rgba(255, 255, 255, 0);
        border: rgba(255, 255, 255, 0);
    }
    .onglets li:nth-child(5){
        padding: 2vw;
    }
    .connexion a:hover{
        background-color: white;
        color: #191919;
    }
    /** Barre de navigation **/
}



@media only screen 
    and (max-width: 435px) {

        /** Barre de navigation **/
        
        .logo{
            padding: 4vw;
        }
        .menu_burger{
            right: 4vw;
        }

        /** Barre de navigation **/

        .contenu3{
            display: flex;
            flex-direction: column;
            padding-top: 100px;
            align-items: center;
            height: auto;
        }
        .texte_droit h1{
            font-size: 1.9em;
        }
        .image_gauche img{
            border-radius: 12px;
            margin: 5% auto 0% auto;
            width: 90vw;
            height: auto;
        }
        .texte_droit li:nth-child(3){
            display: none;
        }
        .texte_droit{
            width: auto;
            padding: 5% 5% 5% 5%;
        }



        .contenu1{
            display: flex;
            flex-direction: column;
            align-items: center;
            height: auto;
        }
        .texte_gauche{
            padding: 5% 5% 0% 5%;
            width: auto;
        }
        .texte_gauche h1{
            font-size: 1.9em;
        }
        .texte_gauche br{
            display: none;
        }
        .texte_gauche li:nth-child(1) span{
            background-color: #3cb16f;
        }
        .texte_gauche li:nth-child(3){
            display: none;
        }
        .image_droite img{
            border-radius: 12px;
            margin: 5% auto 5% auto;
            width: 90vw;
            height: auto;
        }
        .ajouter{
            padding: 1vh;
        }
        .texte_droit input{
            padding: 1vh;
        }

        

        /** Pied de page **/

        .pied_de_page{
            display: flex;
            flex-direction: column;
            background-color: #191919;
            padding: 5vw;
        }
        .slogan{
            border-bottom: white 3px solid;
        }
        .slogan h1{
            font-size: 1.9em;
            color: white;
        }
        .slogan span{
            color: #3cb16f;
        }
        .coordonnées{
            border-bottom: white 3px solid;
            padding: 2vh 0 2vh 0;
        }
        .coordonnées h1{
            font-size: 1.9em;
            color: white;   
        }
        .coordonnées li a{
            font-size: 1.2em;
            color: white;
        }
        .coordonnées li a:hover{
            text-decoration: underline white;
        }
        .trouvez_nous{
            background-color: #3cb16f;
            border-radius: 12px;
            padding: 1vw 5vw 1vw 5vw;
            text-align: center;
            width: 40vw;
            font-size: 1em;
            font-weight: 500;
            transition: 150ms ease;
            z-index: 0;
            margin-top: 2vh;
        }
        .partenaires{
            border-bottom: white 3px solid;
            padding: 2vh 0 2vh 0;
        }
        .partenaires h1{
            font-size: 1.9em;
            color: white;   
        }
        .partenaires li a{
            font-size: 1.2em;
            color: white;
        }
        .partenaires li a:hover{
            text-decoration: underline white;
        }

        .credit{
            border-bottom: white 3px solid;
            padding: 2vh 0 2vh 0;
        }
        .credit h1{
            font-size: 1.9em;
            color: white;   
        }
        .credit li a{
            font-size: 1.2em;
            color: white;
        }
        .credit li a:hover{
            text-decoration: underline white;
        }
        .reseaux{
            border-bottom: white 3px solid;
            padding: 2vh 0 2vh 0;
        }
        .logo_reseaux{
            display: flex;
            flex-direction: row;
        }
        .reseaux h1{
            font-size: 1.9em;
            color: white;   
        }
        .reseaux li a{
            font-size: 1.2em;
            color: white;
        }
        .reseaux li a:hover{
            text-decoration: underline white;
        }
        .texte_bas {
            display: flex;
            flex-direction: row;
            background-color: #191919;
            padding: 0vw 5vh 2vh 5vw;
        }

        /** Pied de page **/
    }
    @media screen and (max-width: 1270px){
        .produit{
            flex-wrap: wrap;
        }
        .pied_de_page{
        flex-direction: column;
        }
    }
    